<script>
window.onerror = function(m,u,l){
alert('Error:'+m+'\nURL:'+u+'\nLine:'+l);
return true;
};
</script>
<img style="width:auto;height:95%;">
</img>
<br>
<div>
</div>
<script>
div1 = document.getElementsByTagName("div")[0];
a1 = window.location.href;

s = a1.substring(a1.split("?")[0].length + 1,a1.length);

p = -1;
if (s.indexOf(",") > -1){
a = s.split(",");
f3(1);
}
else{
a2 = s.split("&");
if (a2.length > 1){
s = a2[0];
p = a2[1] * 1 - 2;
}

a = [];
f2();
}

window.onclick = function(){
f3(1);
}

window.onload = function(){
document.addEventListener("keydown",f4);
window.focus();
}

function f4(e){
if(e.keyCode == 37){
f3(-1);
}
else if(e.keyCode == 39){
f3(1);
}
}

function f1(){
window.focus();
window.scrollTo(0,0);
document.getElementsByTagName("img")[0].src = a[p];
div1.innerText = p + 1;
}

function f2(){
if (s.indexOf("dropbox.com/") > -1){
s = "https://dl.dropboxusercontent.com/" + s.substring(s.indexOf("dropbox.com/") + 12);
}

x = new XMLHttpRequest();
x.onreadystatechange = loadScript;
x.open("GET",s,true);
x.send(null);
}

function loadScript(a1){
var x = a1.target;

if (x.readyState != 4){
return 0;
}

if (x.status != 200){
alert("error");
return 0;
}

eval(x.responseText);
f3(1);
}

function f3(i){
if (a.length > 0){

p += i;
if (p > a.length - 1){
p = 0;
}
else if (p < 0){
p = a.length -1;
}

f1();
}
}

</script>