<script>
window.onerror = function(m,u,l){
alert('Error:'+m+'\nURL:'+u+'\nLine:'+l);
return true;
};
</script>
<video muted loop autoplay style="width:auto;height:100%">
<source src="">
</source>
</video>
<br>
<div>
</div>
<input type="button">
</input>
<br>
<input type="button" value="back" onclick="f3(-1)">
<input type="button" value="next" onclick="f3(1)">
<script>
a1 = window.location.href;

video = document.getElementsByTagName("video")[0];

v = -1;

s = a1.substring(a1.indexOf("?") + 1);
if (s.indexOf(",") > -1){
a = s.split(",");
f3(1);
}
else{
a = [];
f2();
}

window.onload = function(){
document.addEventListener("keydown",f4);
window.focus();
}

function f5(){
if (video.currentTime > 0){
document.getElementsByTagName("div")[0].innerHTML = f6(Math.floor(video.currentTime)) + "/" + f6(video.duration);
}
}

function f6(a1){
var date = new Date(null); date.setSeconds(a1);
return date.toISOString().substr(11, 8);
}

function f4(e){
if(e.keyCode == 37){
f3(-1);
}
else if(e.keyCode == 38){
video.currentTime -= 60;
}
if(e.keyCode == 39){
f3(1);
}
else if(e.keyCode == 40){
video.currentTime += 60;
}
}

function f1(){
video.src = a[v];
document.getElementsByTagName("input")[0].value = v + 1;
}

function f2(){
if (s.indexOf("dropbox.com/") > -1){
s = "https://dl.dropboxusercontent.com/" + s.substring(s.indexOf("dropbox.com/") + 12);
}

x = new XMLHttpRequest();
x.onreadystatechange = loadScript;
x.open("GET",s,true);
x.send(null);
}

function loadScript(a1){
var x = a1.target;

if (x.readyState != 4){
return 0;
}

if (x.status != 200){
alert("error");
return 0;
}

eval(x.responseText);
f3(1);
}

function f3(i){
if (a.length > 0){

v += i;
if (v > a.length - 1){
v = 0;
}
else if (v < 0){
v = a.length -1;
}

f1();
window.setInterval("f5()",100);
}
}

</script>