<script>
window.onerror = function(m,u,l){
alert('Error:'+m+'\nURL:'+u+'\nLine:'+l);
return true;
};
</script>
<div id="video" style="position:absolute;left:0px;top:0px;">
</div>
<script>
var player;
a1 = window.location.href;

a2 = a1.substring(a1.split("?")[0].length + 1,a1.length);
v = a2.substring(a2.indexOf("v=") + 2,a2.indexOf("&"));
a3 = a2.substring(a2.indexOf("&") + 1).split(",");

f1();

function f1(){
document.getElementById("video").innerHTML = "<div id='player'></div>";
var tag = document.createElement('script');
tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
}

function f2(){
if (player.getCurrentTime() > a3[1] * 1){
player.seekTo(a3[0] * 1);
}
}

function onYouTubeIframeAPIReady(){
player = new YT.Player('player', {height:window.innerHeight,width:window.innerWidth,
videoId:v,
events:{
'onReady':onPlayerReady,
'onStateChange':onPlayerStateChange
}
});
}

function onPlayerReady(event) {
player.seekTo(a3[0] * 1);
player.playVideo();
window.onresize = function(){
player.setSize(width=window.innerWidth,height=window.innerHeight);
}
window.setInterval(f2,100);
}

function onPlayerStateChange(event){
if (event.data === YT.PlayerState.ENDED){
player.playVideo();
}
}

</script>