<script>
window.onerror = function(m,u,l){
alert('Error:'+m+'\nURL:'+u+'\nLine:'+l);
return true;
};
</script>
<div id="video" style="position:absolute;left:0px;top:0px;">
</div>
<script>
var player;
a1 = window.location.href;

s = a1.substring(a1.indexOf("?") + 1);

document.addEventListener("keydown",f4);
window.focus();

v = 0;

if (s.indexOf(",") > -1){
a = s.split(",");

f5();
f1();
}
else{
a = [];
f2();
}

function f4(e){
if(e.keyCode == 37){
f3(-1);
}
else if(e.keyCode == 39){
f3(1);
}
}

function f2(){
if (s.indexOf("dropbox.com/") > -1){
s = "https://dl.dropboxusercontent.com/" + s.substring(s.indexOf("dropbox.com/") + 12);
}

x = new XMLHttpRequest();
x.onreadystatechange = loadScript;
x.open("GET",s,true);
x.send(null);
}

function loadScript(a1){
var x = a1.target;

if (x.readyState != 4){
return 0;
}

if (x.status != 200){
alert("error");
return 0;
}

eval(x.responseText);

f5();

f1();
}

function f3(i){
if (a.length > 0){

v += i;
if (v > a.length - 1){
v = 0;
}
else if (v < 0){
v = a.length -1;
}
player.loadVideoById(a[v]);
}
}

function f5(){
for (i = 0;i < a.length;i++){
if (a[i].indexOf("&") > -1){
a[i] = a[i].substring(a[i].indexOf("v=") + 2,a[i].indexOf("&"));
}
else{
a[i] = a[i].substring(a[i].indexOf("v=") + 2); 
}
}
}

function f1(){
document.getElementById("video").innerHTML = "<div id='player'></div>";
var tag = document.createElement('script');
tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
}


function onYouTubeIframeAPIReady(){
player = new YT.Player('player', {height:window.innerHeight,width:window.innerWidth,
videoId:a[0],
events:{
'onReady':onPlayerReady,
'onStateChange':onPlayerStateChange
}
});
}

function onPlayerReady(event) {
player.playVideo();

window.onresize = function(){
player.setSize(width=window.innerWidth,height=window.innerHeight);
}
}

function onPlayerStateChange(event){
if (event.data === YT.PlayerState.ENDED){
f3(1);
}
}

</script>